body {
	margin: 0;
	padding: 0;
}

.realistic {
	background-image: linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93)), url(kawaii10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #267871;
	text-align: center;
	width: 100%;
	font-weight: 700;
	overflow: hidden;
	font-family: tahoma;
}

.btn {
	font-size: 30px;
	color: rgba(0, 0, 0, 0.93);
	background: #243B55;
	border-radius: 50px;
	padding: 0 20px 0 20px;
}

.btn:hover {
	color: #243B55;
	background: white;
}

#fly-in {
	font-size: 5.3em;
	margin: 40vh auto;
	height: 20vh;
	text-transform: uppercase;
}

#fly-in span {
	display: block;
	font-size: 0.4em;
	opacity: 0.8;
}

#fly-in div {
	position: fixed;
	margin: 2vh 0;
	opacity: 0;
	left: 10vw;
	width: 80vw;
	animation: switch 32s linear infinite;
}

#fly-in div:nth-child(2) {
	animation-delay: 4s;
}

#fly-in div:nth-child(3) {
	animation-delay: 8s;
}

#fly-in div:nth-child(4) {
	animation-delay: 12s;
}

#fly-in div:nth-child(5) {
	animation-delay: 15s;
}

#fly-in div:nth-child(6) {
	animation-delay: 20s;
}

#fly-in div:nth-child(7) {
	animation-delay: 24s;
}

#fly-in div:nth-child(8) {
	animation-delay: 28s;
}

@keyframes switch {

	0% {
		opacity: 0;
		filter: blur(20px);
		transform: scale(12);
	}

	3% {
		opacity: 1;
		filter: blur(0);
		transform: scale(1);
	}

	10% {
		opacity: 1;
		filter: blur(0);
		transform: scale(0.9);
	}

	13% {
		opacity: 0;
		filter: blur(10px);
		transform: scale(0.1);
	}
}

::-webkit-scrollbar {
	display: none;
}